<div class="container" class="d-flex justify-content-center">
  <h1 id="new-recipe" class="text-center">New recipe</h1>
  <div class="form">
    <%= simple_form_for @recipe do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :ingredients %>
      <%= f.input :method %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>

      <!-- <%#= f.input :image_url %> -->
      <%= f.submit class: "btn btn-outline-light" %>
    <% end %>
  </div>
</div>
